body{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logoDiv{
    background-color: #333333;
    display: flex;
    justify-content: flex-end;
    padding-left: 100px;
    padding-right: 100px;
}
.navDiv{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-self: flex-end;
}
.logo{
    padding: 5px;
    width: 60px;
    height: 60px;
    margin-right: auto; 
}
.div2{
    background-color: #333333;
    display: flex;
    padding: 100px;
}
.sheild{
    flex-direction: column;
    align-self: flex-start;
}
.button{
    background-color: #555555;
    width: fit-content;
    height: fit-content;
}
.cover{
    border-radius: 10px;
    width: 500px;
    height: auto;
    margin-left: auto; 
}
.div3{
    background-color: #777777;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    padding-bottom: 100px;
}
.p1{
    text-align: center;
}
.prof{
    width: 200px;
    height: 200px; 
    border-radius: 10px;
    border: solid #111111;
    display: block;
}
.div4{
    background-color: #353535;
    margin: 0px;
    text-align: center;
    padding: 60px;
    flex-direction: column;
}
.p2{
    font-size: 35px;
}
.p3{
    text-align: right;
    margin-right: 100px;
}
.div5{
    background-color: #222222;
    margin: 0px;
    padding: 40px;
}
.p4{
    display: flex;
    background-color: #777777;
    border-radius: 10px;
    padding: 50px;
    flex-direction: column;
}
.p5{
    font-weight: bold;
    font-size: 30px;
}
.b2{
    width: fit-content;
    height: fit-content;
    margin-left:auto ;
    background-color: #777777;
    border:solid #111111 ;
    border-width: 2px;
    border-radius: 10px;
}
.div6{
    background-color: #555555;
    margin: 0px;
    padding: 10px;
    text-align: center;
}